<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=<%= ID %>"></script>
</head>
<style>
	body {margin: 0;padding: 0;}
</style>	
<body>
<div id="map" style="width:100%;height:100%;"></div>

<script>
	// var markers = []; 
	// var markerListener; 
	// var branchList;

	var markers = new Object();
	var markerListener = new Object();
	var branchListObj = new Object();

	var firstLat = <%= firstLat %>;
	var firstLong = <%= firstLong %>;


	var mapOptions = {
	    center: new naver.maps.LatLng(firstLat,firstLong ),
	    zoom: 16
	};

	var map = new naver.maps.Map('map', mapOptions);//지도 등록

	var marker_pos = new naver.maps.LatLng(firstLat, firstLong);

	var markerOptions = {
	    position: marker_pos,
	    map: map
	};

	var branch_marker = new naver.maps.Marker(markerOptions);

	function goToCurrent(){
		map.panTo(marker_pos);
	}


	//Print.postMessage('Hello World being called from Javascript code');
</script>
</body>
</html>