<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=<%= ID %>"></script>
</head>
<style>
	body {margin: 0;padding: 0;}
</style>	
<body>
<div id="map" style="width:100%;height:100%;"></div>

<script>
	var markers = [];
	var branchList;

	jQuery.ajax({
        url: "http://3.34.91.138:8000/api/branch",
        beforeSend: function (xhr) {
		    xhr.setRequestHeader ("Authorization", "Bearer " +  "<%= token %>");
		},
        type: 'GET',
        dataType:"json",
        success: function(data) {

        	// var output = JSON.parse(JSON.stringify(data));
         //    console.log(output);
            branchList = data;
        	for (var i = 0; i < branchList.length ; i++) {
				console.log(branchList[i]);
				
			    var position = new naver.maps.LatLng(branchList[i].lat, branchList[i].long);

			    var marker = new naver.maps.Marker({
			        map: map,
			        position: position,		
			        title : branchList[i].branchID		      
			    });
			    markers.push(marker);
			};
			for (var i=0, ii=markers.length; i<ii; i++) {
			    naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
			}

        },
        error: function(xhr, textStatus, error){
            Print.postMessage('error : ' + error);
        }
    });

	var firstLat = <%= firstLat %>;
	var firstLong = <%= firstLong %>;


	var mapOptions = {
	    center: new naver.maps.LatLng(firstLat,firstLong ),
	    zoom: 16
	};
	var map = new naver.maps.Map('map', mapOptions);
	var user_position = new naver.maps.LatLng(firstLat, firstLong);

	// var map = new naver.maps.Map('map', mapOptions);

	var markerOptions = {
	    position: user_position,
	    map: map
	};

	var user_marker = new naver.maps.Marker(markerOptions);

	function setCurrentLocation(lat, long) {
		firstLat = lat;
		firstLong = long;
		Print.postMessage('set location called' + lat + " / " + long);
		var new_position = new naver.maps.LatLng(lat, long);
    	user_marker.setPosition(new_position);
    }

	naver.maps.Event.addListener(user_marker, 'click', function(e){
		Print.postMessage('user_marker clicked');
		map.panTo(e.coord);
	});
	naver.maps.Event.addListener(map, 'idle', function() {
	    updateMarkers(map, markers);
	});

	function updateMarkers(map, markers) {

	    var mapBounds = map.getBounds();
	    var marker, position;

	    for (var i = 0; i < markers.length; i++) {

	        marker = markers[i]
	        position = marker.getPosition();

	        if (mapBounds.hasLatLng(position)) {
	            showMarker(map, marker);
	        } else {
	            hideMarker(map, marker);
	        }
	    }
	}

	function goToCurrent(){
		map.panTo(user_marker.getPosition());
	}

	function showMarker(map, marker) {

	    if (marker.setMap()) return;
	    marker.setMap(map);
	}

	function hideMarker(map, marker) {

	    if (!marker.setMap()) return;
	    marker.setMap(null);
	}

	function getClickHandler(seq) {
	    return function(e) {
	        var markerInfo = branchList[seq];
	        console.log(markerInfo);
	        Print.postMessage(JSON.stringify(markerInfo));
	    }
	}
	//Print.postMessage('Hello World being called from Javascript code');
</script>
</body>
</html>