<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=<%= ID %>"></script>
</head>
<style>
	body {margin: 0;padding: 0;}
</style>	
<body>
<div id="map" style="width:100%;height:100%;"></div>

<script>
	
	
	// jQuery.ajax({
 //        url: "http://show981111.cafe24.com/putWaitList.php",
 //        type: 'POST',
 //        data: {

 //        },
 //        success: function(data) {
 //            switch(data)
 //            {
 //                case "success":
 //                    alert("성공적으로 요청하였습니다. 관리자의 승인 후 변경됩니다.")
 //                    break;
 //                case "alreadyBooked":
 //                    alert("빈 시간대가 아닙니다.")
 //                    break;
 //                case "already":
 //                    alert("이미 요청하셨습니다.")
 //                    break;
 //                case "internet_fail":
 //                    alert("인터넷 연결을 확인해주세요.")
 //                    break;
 //                case "past":
 //                    alert("오늘날짜와 시작날짜를 다시한번 확인해 주세요.")
 //                    break;
 //                default:
 //                    alert("실패하였습니다.")
 //                    break;
 //            }   
 //        },

 //        error: function(xhr, textStatus, error){
 //            alert("인터넷 연결을 확인해주세요.")
            
 //        }
 //    });
	var firstLat = 37;
	var firstLong = 128;

	var mapOptions = {
	    center: new naver.maps.LatLng(firstLat,firstLong ),
	    zoom: 16
	};
	var map = new naver.maps.Map('map', mapOptions);
	var user_position = new naver.maps.LatLng(firstLat, firstLong);

	// var map = new naver.maps.Map('map', mapOptions);

	var markerOptions = {
	    position: user_position,
	    map: map
	};

	var markers = [];
	var branchList = [];

	var branch = new Object();


	branchList = [
		{
			branchID : "0",
			lat : "37.45",
			long : "127.023"
		},
		{
			branchID : "1",
			lat : "37.48",
			long : "127.022"
		},
	];
	
	for (var i = 0; i < branchList.length ; i++) {
		console.log(branchList[i]);
		
	    var position = new naver.maps.LatLng(branchList[i].lat, branchList[i].long);

	    var marker = new naver.maps.Marker({
	        map: map,
	        position: position,		
	        title : branchList[i].branchID		      
	    });
	    markers.push(marker);
	};


	var user_marker = new naver.maps.Marker(markerOptions);

	var tracking = 1;

	function setCurrentLocation(lat, long) {
		firstLat = lat;
		firstLong = long;
		Print.postMessage('set location called' + lat + " / " + long);
		var new_position = new naver.maps.LatLng(lat, long);
		if(tracking == 1){
			map.panTo(new_position);
			tracking = 0;
		}
		
    	user_marker.setPosition(new_position);


    }

	naver.maps.Event.addListener(user_marker, 'click', function(e){
		Print.postMessage('user_marker clicked');
		map.panTo(e.coord);
	});
	naver.maps.Event.addListener(map, 'idle', function() {
	    updateMarkers(map, markers);
	});

	function updateMarkers(map, markers) {

	    var mapBounds = map.getBounds();
	    var marker, position;

	    for (var i = 0; i < markers.length; i++) {

	        marker = markers[i]
	        position = marker.getPosition();

	        if (mapBounds.hasLatLng(position)) {
	            showMarker(map, marker);
	        } else {
	            hideMarker(map, marker);
	        }
	    }
	}

	function showMarker(map, marker) {

	    if (marker.setMap()) return;
	    marker.setMap(map);
	}

	function hideMarker(map, marker) {

	    if (!marker.setMap()) return;
	    marker.setMap(null);
	}

	function getClickHandler(seq) {
	    return function(e) {
	        var markerInfo = branchList[seq];
	        Print.postMessage(markerInfo);
	    }
	}

	for (var i=0, ii=markers.length; i<ii; i++) {
	    naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
	}

	//Print.postMessage('Hello World being called from Javascript code');
</script>
</body>
</html>